@media print {
  .page-header {
    display: none; }
  #sidebar-wrapper {
    display: none; }
  #top-nav-container {
    display: none; }
  #distrubtor-address-container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    color: red; }
  #user-address-container {
    display: inline-block;
    width: 50%;
    vertical-align: top; }
  #invoice-container {
    width: 100%; } }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2; }

.error-text {
  color: red; }

.logo-img {
  width: 50px;
  display: inline-block; }

.modal-footer {
  border-top: none; }

.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125); }

.card-block {
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem; }

.card-text:last-child {
  margin-bottom: 0; }

.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px); }

@media (min-width: 576px) {
  .card-deck {
    display: table;
    width: 100%;
    margin-bottom: 0.75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0; } }

@media (min-width: 576px) {
  .card-deck .card {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: top; } }

@media (min-width: 576px) {
  .card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem; } }

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box; }

.card {
  background-color: #2A3C92;
  color: white; }

.page-row.row {
  display: table-row;
  height: 1px; }

.sidebar-nav li a.active {
  font-weight: bold;
  color: white; }

.table-responsive {
  /*-webkit-box-shadow:0px 0px 18px -3px rgba(0,0,0,0.75);*/
  /*-moz-box-shadow:0px 0px 18px -3px rgba(0,0,0,0.75);*/
  /*box-shadow:0px 0px 18px -3px rgba(0,0,0,0.75);*/ }

.card-table {
  -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin-bottom: 20px; }

.table {
  margin-bottom: 0px; }

.pagination-container {
  min-height: 60px; }

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32; }

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px; }

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0; }

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6; }

.footer-dark ul a:hover {
  opacity: 0.8; }

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px; } }

.footer-dark .item.text {
  margin-bottom: 36px; }

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0; } }

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0; }

.footer-dark .item.social {
  text-align: center; }

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px; } }

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75; }

.footer-dark .item.social > a:hover {
  opacity: 0.9; }

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0; }

.login-clean {
  background: #f1f7fc;
  padding: 80px 0; }

.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: #f4476b; }

.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px; }

.login-clean form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important; }

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #eb3b60; }

.login-clean form .btn-primary:active {
  transform: translateY(1px); }

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none; }

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 180px;
  width: 0;
  height: 100%;
  margin-left: -180px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 180px; } }

@media (min-width: 768px) {
  #sidebar-wrapper {
    width: 180px; } }

body {
  overflow-x: hidden; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 180px;
  width: 0;
  height: 100%;
  margin-left: -180px;
  overflow-y: auto;
  background: #333333;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 180px; } }

@media (min-width: 768px) {
  #wrapper.toggled {
    padding-left: 0; } }

@media (min-width: 768px) {
  #sidebar-wrapper {
    width: 180px; } }

@media (min-width: 768px) {
  #wrapper.toggled #sidebar-wrapper {
    width: 0; } }

@media (min-width: 768px) {
  #page-content-wrapper {
    padding: 20px;
    position: relative; } }

@media (min-width: 768px) {
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }
