<div class="col-md-12" ng-if="profile != null">
        <div class="page-header">
            <h1>{{ lang[current_lang]['Profile'] }} </h1></div>
        <div class="card-table">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" name="profileForm" ng-submit="submitForm(profileForm.$valid)" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : profileForm.first_name.$invalid && !profileForm.company_name.$pristine}">
                            <label class="control-label col-sm-2">{{ lang[current_lang]['First Name'] }} </label>
                            <div class="col-sm-10">
                                <input class="form-control" 
                                type="text" name="first_name" ng-model="form.first_name"
                                ng-required="true" ng-minlength="1"/>
                                <p ng-show="profileForm.first_name.$invalid && !profileForm.first_name.$pristine" class="help-block text-danger">
                                    {{ lang[current_lang]['First Name is missing'] }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : profileForm.last_name.$invalid && !profileForm.company_name.$pristine}">
                            <label class="control-label col-sm-2">{{ lang[current_lang]['Last Name'] }} </label>
                            <div class="col-sm-10">
                                <input class="form-control" 
                                type="text" name="last_name" ng-model="form.last_name"
                                ng-required="true" ng-minlength="1"/>
                                <p ng-show="profileForm.last_name.$invalid && !profileForm.last_name.$pristine" class="help-block text-danger">
                                    {{ lang[current_lang]['Last Name is missing'] }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : profileForm.email.$invalid && !profileForm.email.$pristine}">
                            <label class="control-label col-sm-2">{{ lang[current_lang]['Email'] }} </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="email" name="email" 
                                ng-model="form.email" inputmode="email"
                                ng-required="true" />
                                <p ng-show="profileForm.email.$invalid && !profileForm.email.$pristine" class="help-block text-danger">{{ lang[current_lang]['Please enter a valid email address.']}}</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : profileForm.password.$invalid && !profileForm.password.$pristine}">
                            <label class="control-label col-sm-2">{{ lang[current_lang]['Password'] }} </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="password" 
                                ng-model="form.password"
                                id="password" ng-model-options="{allowInvalid: true}"
                                pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" 
                                />
                                <p ng-show="profileForm.password.$error.passwordPattern" class="help-block text-danger">
                                    {{ lang[current_lang]['Your password must contain a capital letter, symbol, number and at least 8 letters or characters.'] }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label col-sm-2">{{ lang[current_lang]['Password security'] }}</label>
                                <div class="col-sm-10">
                                <password-strength ng-model="form.password"></password-strength>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">{{ lang[current_lang]['Created Date'] }} </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" readonly name="created" ng-model="form.created" value="{{ form.created | date:'yyyy-MM-dd'}}" readonly="" inputmode="date">
                            </div>
                        </div>
                        <div class="form-group" ng-if="plan">
                            <label class="control-label col-sm-2">{{ lang[current_lang]['Plan'] }} </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" readonly name="plan" value="{{ plan.name}} ({{plan.min}} - {{plan.max}})" readonly="" inputmode="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" type="submit" ng-disabled="profileForm.$invalid" style="float:right;">{{ lang[current_lang]['Submit'] }} </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>