$theme-blue: #3f51b5;

body {
    font-family:'Open Sans', sans-serif;
    background-color:#f2f2f2;
}
.error-text {
    color: red;
}

.ng-valid       {  }
input.ng-invalid     {  

}
.ng-pristine    {  }
.ng-dirty       {  }
.ng-touched     {  }

.logo-img {
    width: 50px;
    display: inline-block;
}

.modal-footer {
    border-top: none;
}