
@media print {

.page-header {
    display: none;
}

#sidebar-wrapper {
    display: none;
}

#top-nav-container {
    display: none;
}

#distrubtor-address-container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    color: red;
}

#user-address-container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#invoice-container {
    width: 100%;
}
}