<div class="modal-container">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Confirmación</h3>
        </div>        
        <div class="modal-body" id="modal-body">
            <p>Estás seguro de que quieres continuar?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit()">Sí</button>
            <button class="btn btn-danger" type="button" ng-click="close()">No</button>
        </div>
                
</div>