<div class="col-md-12">
    <div class="page-header">
        <h1>{{ lang[current_lang]['Domains'] }} </h1>
    </div>
    <div class="card-table">
        <div class="row">
        <div class="col-md-12">
                    <a class="btn btn-primary btn-sm" href="#!/domain/add" target="_blank" style="float:right;margin:10px 5px 0px 0px;">{{ lang[current_lang]['Add Domain'] }}</a>
        </div>
        </div>
        <div class="table-responsive" style="font-family:'Open Sans', sans-serif;background-color:#f2f2f2;">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                            <th>{{ lang[current_lang]['Date'] }} </th>
                            <th>{{ lang[current_lang]['Domain'] }} </th>
                            <th>{{ lang[current_lang]['Version'] }}</th>
                            <th>{{ lang[current_lang]['Status'] }} </th>
                            <th>{{ lang[current_lang]['Action'] }} </th>
                    </tr>
                </thead>
                <tbody style="background-color:#f2f2f2;">
                    <tr ng-repeat="domain in domains" >
                            <td>{{domain.created_at | date:'shortDate': 'UTC'}}</td>
                            <td>{{domain.domain}} </td>
                            <td>{{domain.version}} </td>
                            <td>
                                <span ng-if="domain.status == 1">Active</span>
                                <span ng-if="domain.status == 0">InActive</span>
                            </td>
                            <td> 
                                <a class="btn btn-primary btn-sm" target="__blank"ng-href="{{url}}{{domain.id}}{{accessToken}}">{{ lang[current_lang]['Build'] }} </a>
                                <button class="btn btn-warning btn-sm" target="__blank" ng-click="upgrade(domain.id)">{{ lang[current_lang]['Update'] }} </button>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
