<div class="col-md-12">
        <div class="page-header">
            <h1>{{ lang[current_lang]['Add Domain'] }} </h1></div>
        <div class="card-table">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" name="profileForm" ng-submit="submitForm(profileForm.$valid)" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : profileForm.domain.$invalid && !profileForm.domain.$pristine}">
                            <label class="control-label col-sm-2">{{ lang[current_lang]['Domain'] }} </label>
                            <div class="col-sm-10">
                                <input class="form-control" 
                                type="text" name="domain" ng-model="form.domain"
                                ng-required="true" ng-minlength="1" ng-pattern="regex"/>
                                <small>Don't input www or http. Or subdirectory with slashes. Just hostname of website.</small>
                                <p ng-show="profileForm.domain.$invalid && !profileForm.domain.$pristine" class="help-block text-danger">
                                    {{ lang[current_lang]['Invalid Domain'] }}
                                </p>
                                {{form.domain}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" type="submit" ng-disabled="profileForm.$invalid" style="float:right;">{{ lang[current_lang]['Submit'] }} </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>